h1{
    color:orange
}  
#heading{
   font-size:30px;
   font-weight: bold;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color:red
}   
.cardImage{
   height:230px;
   width:100%;
}
.cardHeading{
   color:white;
   text-align:center;
}

.card{
   height:450px;
   width:20%;
   background-color: orange;
   float:left;
   margin:2%
}
#purple{
   background-color: rgb(214, 154, 241);
}
.skyblue{
   background-color: skyblue
}
.marron{
   background-color: #581845
}